doctype html
html(ng-app="app")
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Credit4All. Request approving
    link(rel='stylesheet', href='css/app.css')
  body(ng-controller="MainController")
    nav.navbar.navbar-default.navbar-fixed-top
      .pull-right
        a.btn.btn-default(ng-click="update()") Update
        a.btn.btn-default(ng-click="addNew()") Add new
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Credit4All. Credit Requests
    .container-fluid
      .row
        .col-sm-12
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th(ng-repeat="(key, value) in properties", ng-if="value.visible") {{value.name}}
                  th Actions
              tbody
                tr(ng-repeat="application in objects")
                  td(ng-repeat="(key, value) in properties", ng-if="value.visible", ng-switch="value.type")
                    //input.form-control(ng-switch-when="date", type="date", ng-model="application[key]")
                    //input.form-control(ng-switch-default, type="text", ng-model="application[key]")
                    div(ng-switch-when="date") {{application[key] | date: 'dd/MM/yyyy'}}
                    div(ng-switch-default) {{application[key]}}
                  td
                    button.btn.btn-success(ng-click="approve(application)") Approve
                    button.btn.btn-warning(ng-click="reject(application)") Reject
                    button.btn.btn-default(ng-click="edit(application)") Edit

    script(src="https://parse.com/downloads/javascript/parse-1.6.12.js")
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/parse-angular-patch/src/parse-angular.js')
    script(src='js/app.js')
    script(src='js/configs/parse.js')
    script(src='js/constants/env.js')

    script(src='js/controllers/main-controller.js')

    script(src='js/modules/models/models.module.js')
    script(src='js/modules/models/application-collection.js')
    script(src='js/modules/models/application-model.js')

    script(src='js/modules/parse/parse.module.js')
